<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.url">jdbc:postgresql://localhost:5432/auca_library_db</property>
        <property name="connection.username">postgres</property>
        <property name="connection.password">123</property>

        
        <property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>

        
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>

        
        <property name="hbm2ddl.auto">create-drop</property>

        
        <!-- Register Entity Classes -->
        <mapping class="com.auca.library.domain.Location"/>
        <mapping class="com.auca.library.domain.User"/>
        <mapping class="com.auca.library.domain.Room"/>
        <mapping class="com.auca.library.domain.Shelf"/>
        <mapping class="com.auca.library.domain.Book"/>
        <mapping class="com.auca.library.domain.BorrowRecord"/>
        <mapping class="com.auca.library.domain.Fee"/>
    </session-factory>
</hibernate-configuration>